<div class="admin-header">
	<h2>Flagged posts</h2>
</div>

<div class="admin-content make-flex">

	<div class="flagged-preview">
		<post info="samplePost"></post>
	</div>


	<div class="flagged-posts-list-container">
	<md-list class="flagged-posts-list md-whiteframe-z2">

		<md-list-item ng-click="showPost('1')" md-no-ink>
      <p>Test post</p>
      <md-grid-list class="md-secondary">
        <md-grid-list-item>
          <md-button class="md-grid-item-content list-button">
            <md-icon aria-label="Edit" md-svg-icon="put_back"></md-icon>
          </md-button>
        </md-grid-list-item>
        <md-grid-list-item>
          <md-button class="md-grid-item-content list-button" ng-click="">
            <md-icon aria-label="Delete" md-svg-icon="delete"></md-icon>
          </md-button>
        </md-grid-list-item>
      </md-grid-list>
    </md-list-item>

    <md-list-item ng-click="showPost('2')">
      <p>Test post 2</p>
      <md-grid-list class="md-secondary">
        <md-grid-list-item>
          <md-button class="md-grid-item-content list-button">
            <md-icon aria-label="Edit" md-svg-icon="put_back"></md-icon>
          </md-button>
        </md-grid-list-item>
        <md-grid-list-item>
          <md-button class="md-grid-item-content list-button" ng-click="">
            <md-icon aria-label="Delete" md-svg-icon="delete"></md-icon>
          </md-button>
        </md-grid-list-item>
      </md-grid-list>
    </md-list-item>

    <md-list-item  ng-click="showPost('3')" md-no-ink>
      <p>Test item 3</p>
      <md-grid-list class="md-secondary">
        <md-grid-list-item>
          <md-button class="md-grid-item-content list-button">
            <md-icon aria-label="Edit" md-svg-icon="put_back"></md-icon>
          </md-button>
        </md-grid-list-item>
        <md-grid-list-item>
          <md-button class="md-grid-item-content list-button" ng-click="">
            <md-icon aria-label="Delete" md-svg-icon="delete"></md-icon>
          </md-button>
        </md-grid-list-item>
      </md-grid-list>
    </md-list-item>

    <md-list-item  ng-click="showPost('3')" md-no-ink>
      <p>Test item 3</p>
      <md-grid-list class="md-secondary">
        <md-grid-list-item>
          <md-button class="md-grid-item-content list-button">
            <md-icon aria-label="Edit" md-svg-icon="put_back"></md-icon>
          </md-button>
        </md-grid-list-item>
        <md-grid-list-item>
          <md-button class="md-grid-item-content list-button" ng-click="">
            <md-icon aria-label="Delete" md-svg-icon="delete"></md-icon>
          </md-button>
        </md-grid-list-item>
      </md-grid-list>
    </md-list-item>

    <md-list-item  ng-click="showPost('3')" md-no-ink>
      <p>Test item 3</p>
      <md-grid-list class="md-secondary">
        <md-grid-list-item>
          <md-button class="md-grid-item-content list-button">
            <md-icon aria-label="Edit" md-svg-icon="put_back"></md-icon>
          </md-button>
        </md-grid-list-item>
        <md-grid-list-item>
          <md-button class="md-grid-item-content list-button" ng-click="">
            <md-icon aria-label="Delete" md-svg-icon="delete"></md-icon>
          </md-button>
        </md-grid-list-item>
      </md-grid-list>
    </md-list-item>

  </div>


	</md-list>
</div>