<div class="welcome-container">
	<div class="welcome-1">
		<h1>UniSalad</h1>
		<p>the best app in the universe.</p>
		<md-button ui-sref="pre.main" class="btn-join md-raised md-primary">Join</md-button>
		<md-button ui-sref="pre.login" ng-click="goToSignin()" class="btn-join md-raised">Sign in</md-button>
		<div class="find-out">
			<p>find out more</p>
			<md-icon md-svg-icon="arrow_down"></md-icon>
		</div>
	</div>
	<div class="welcome-2">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
		<a ui-sref="base.about">about</a>
	</div>
</div>