<div id="listview" class="listview-container">
	<div class="list-intro" ng-click="testClick()">
		<span class="make-flex">
			<md-icon class="large-icon title-icon" md-svg-icon="{{ list.icon }}"></md-icon>
			<h2 ng-click="getList()">{{ list.name }}</h2>
		</span>
	    
  </div>

  	<div class="search-container md-whiteframe-z3">
		<md-input-container class="search-posts">
	    	<label>Search</label>
	        <input ng-model="searchText.words">
	    </md-input-container>
	</div>

  <md-button id="addpost" ng-href="#" aria-label="Add a post" ui-sref="base.addpost" ng-click="hideAddpostButton()" class="md-fab md-primary add-post">
    <md-icon md-svg-icon="add"></md-icon>
  </md-button>

	<post id="id{{ pst.id }}" ng-repeat="pst in posts" ng-click="openPostDetails($event, pst)" post-info="pst"></post>
	
</div>