<div class="container-card padded-std flex-column md-whiteframe-z2">
  <h1>Hello</h1>
  <p>Welcome to unisalad, home to all your studenty needs!</p>

  <div class="to-bottom bottom-padding">

  	<md-input-container md-autofocus>	
	    <md-select class="select-uni" placeholder="Select your university" ng-model="university" ng-change="uniSelected()" ng-focus="moveToEmailField()">
	    	<md-option ng-repeat="(id, name) in universities" value="{{ id }}">{{ name }}</md-option>
	    </md-select>
	  </md-input-container>

    <div class="make-flex">
      <md-input-container class="signup-email">
        <label>Your email</label>
        <input id="emailField" ng-model="email" ng-keyup="$event.keyCode == 13 && signUp()">
      </md-input-container>
      <md-input-container class="signup-domain" ng-click="focusOnEmail()">
        <input aria-label="domain" disabled ng-model="domain">
      </md-input-container>
    </div>
    
    <md-button ng-click="signUp()" class="md-raised md-primary button-wide">Sign Up</md-button>
  </div>
</div>
