<div id="signupContainer" class="container-card padded-std flex-column md-whiteframe-z2">
  <div class="make-flex"><h1>Hello</h1><span class="to-right"><a ui-sref="pre.login">login</a></span></div>
  <p>Welcome to UniSalad, full of top baynder!</p>

  <div class="make-flex">
    <md-input-container class="signup-email" md-autofocus>
      <label>Your email</label>
      <input id="emailField" ng-model="email" ng-keyup="$event.keyCode == 13 && signUp()">
    </md-input-container>
    <md-input-container class="signup-domain" ng-click="focusOnEmail()">
      <input aria-label="domain" disabled ng-model="domain">
    </md-input-container>
  </div>
  
  <md-button ng-click="signUp()" class="md-raised md-primary button-wide">Sign Up</md-button>
</div>


<div id="emailSent" class="container-card padded-std flex-column md-whiteframe-z5 email-sent">
  <h1>Girl you better check yo maaaaail</h1>
  <p>An email has been sent to <b>{{ email + "@" + domain + ".co.uk" }}</b>. Click on the link to confirm your email!
    <br><br>
    ( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)
  </p>
  <md-button ng-click="reEnterEmail()" class="md-raised md-primary button-wide">I done did my email wrong</md-button>
</div>
