<div class="container-tool md-whiteframe-z2">
	<h4>{{ university }}</h4>
	<md-button href="#/app/tickets"></md-button>
	<md-list>
	  <md-list-item class="md-2-line" ng-click="goToPage(option)" ui-sref="base.{{ option.label }}" ng-repeat="option in items">
	    <md-icon class="large-icon" md-svg-icon="{{ option.icon }}"></md-icon>
	    <div class="md-list-item-text">
          <h3>{{ option.name }}</h3>
          <p>{{ option.posts }} posts</p>
        </div>
        <md-divider></md-divider>
	  </md-list-item>
	</md-list>
</div>