<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unisalad</title>
  <link rel="icon" href="images/lettuce.jpg">
  <link href="lib/angular-material/angular-material.min.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">-->
  <link rel="stylesheet" href="lib/swipebox/src/css/swipebox.css">

  <link href="css/main.css" rel="stylesheet">
</head>
<body ng-app="unisalad" ng-controller="AppCtrl">

  <!-- -------------------------------------------------------------------------- -->

  <div ng-if="!wideScreen" id="left-sidebar" class="sidebar left-sidebar">
    <left-content></left-content>
  </div>

  <md-sidenav ng-if="wideScreen" class="md-sidenav-left" md-component-id="left" md-is-locked-open="wideScreen">
    <left-content></left-content>
  </md-sidenav>

  <!-- -------------------------------------------------------------------------- -->

  <div class="page">

    
    <md-toolbar class="toolbar" id="toolbar">
      <div class="md-toolbar-tools">
        <md-button ng-if="!wideScreen" class="md-icon-button" aria-label="Settings" ng-click="toggleSidebar('left')">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h2>
          <span>unisalad</span>
        </h2>
        <md-switch ng-model="loggedIn" ng-change="debugLoggedIn()" class="md-primary" aria-label="debugging tool">
          *
        </md-switch>


        <md-button ng-if="loggedIn && !wideScreen" class="md-icon-button to-right" aria-label="My things" ng-click="toggleSidebar('right')">
          <md-icon md-svg-icon="person"></md-icon>
        </md-button>

        <md-button ng-if="!loggedIn" class="to-right" aria-label="My things" ng-click="goTo('/login')">
          <md-icon md-svg-icon="person"></md-icon>
          Login
        </md-button>
      </div>
    </md-toolbar>

    <div  class="content">
        <div ng-view="" class="container-ng-view {{ pageClass }}"></div>
    </div>

  </div>


  <!-- -------------------------------------------------------------------------- -->

  <div ng-if="!wideScreen" id="right-sidebar" class="sidebar right-sidebar">
    <right-content></right-content>
  </div>

  <md-sidenav ng-if="wideScreen" md-component-id="right" md-is-locked-open="wideScreen" class="md-sidenav-right mythings-sidenav">
    <right-content></right-content>
  </md-sidenav>


<!-- ---------------------------------------------------------------------------- -->


  

  <script src="lib/jquery/dist/jquery.js"></script>
  
  <!--ANGULAR REQUIREMENTS-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.1/angular-material.min.js"></script>

  <!--JQUERY PLUGINS-->
  <script src="lib/swipebox/src/js/jquery.swipebox.js"></script>
  <script src="lib/fastclick/lib/fastclick.js"></script>
  <script src="lib/headroom/headroom.min.js"></script>
  <script src="lib/scrollTo/scrollTo.js"></script>

  <!--ANGULAR PLUGINS-->
  <script src="lib/angular-resource/angular-resource.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="lib/angular-ui-date/src/date.js"></script>
  <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>

  <!--CONTROLLERS-->
  <script src="js/app.js"></script>
  <script src="js/controllers/app.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/about.js"></script>
  <script src="js/controllers/tool.js"></script>
  <script src="js/controllers/login.js"></script>
  <script src="js/controllers/listview.js"></script>
  <script src="js/controllers/addpost.js"></script>
  <script src="js/controllers/contactsheet.js"></script>
  <script src="js/controllers/confirmationsent.js"></script>
  <script src="js/controllers/card.js"></script>

  <!--DIRECTIVES-->
  <script src="js/directives/leftcontent.js"></script>
  <script src="js/directives/rightcontent.js"></script>
  <script src="js/directives/post_base.js"></script>
  <script src="js/directives/postticket.js"></script>
  <script src="js/directives/postlift.js"></script>
  <script src="js/directives/posthouse.js"></script>
  <script src="js/directives/postanon.js"></script>
  <script src="js/directives/postsale.js"></script>

  <!--SERVICES-->
  <script src="js/services/searchtext.js"></script>
  <script src="js/services/tappedpost.js"></script>
  <script src="js/services/currentlist.js"></script>
  <script src="js/services/fetchposts.js"></script>

  <!--FILTERS-->
  <script src="js/filters/capitalise.js"></script>
  <script src="js/filters/searchall.js"></script>
  
</body>
</html>
