<md-toolbar ng-controller="AppCtrl" class="left-toolbar" ng-click="toggleSidebar('left')">
  <div class="md-toolbar-tools">
    <h1>Menu</h1>
    <md-button ng-if="!wideScreen" class="md-icon-button to-right" aria-label="Settings" >
        <md-icon md-svg-icon="arrow_back"></md-icon>
      </md-button>
  </div>
</md-toolbar>
<md-content class="left-nav" layout-padding ng-controller="LeftCtrl">
  <md-list>
    
    <md-list-item ng-click="goToPage(option)" ng-repeat="option in items">
      <md-icon md-svg-icon="{{ option.icon }}"></md-icon>
        <p>{{ option.name }}</p>
    </md-list-item>

    <md-divider></md-divider>
    <md-list-item ng-click="goToPage({label: 'about'})">
      <md-icon md-svg-icon="info"></md-icon>
      <p>About</p>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item ng-click="goToPage({label: 'mod'})" >
      <md-icon md-svg-icon="info"></md-icon>
      <p>Mod page</p>
    </md-list-item>

    <md-list-item ng-click="goToPage({label: 'admin'})" >
      <md-icon md-svg-icon="info"></md-icon>
      <p>Admin page</p>
    </md-list-item>
  </md-list>
</md-content>