<div class="container-card md-whiteframe-z2">

	<md-toolbar class="toolbar-addpost">
		<div class="md-toolbar-tools">
	        <h2>
	          <span>Add {{ lbl.item }} post</span>
	        </h2>
	        <span flex></span>
	        <md-button ng-href="#/app/{{ postType }}" class="md-icon-button" aria-label="close">
	          <md-icon md-svg-icon="close"></md-icon>
	        </md-button>
	      </div>
	  </md-toolbar>

	<md-content layout-padding>

			<md-input-container>
				<label>Ticket</label>
				<input type="text" ng-model="post.ticket">
			</md-input-container>

			<md-input-container>
				<label>Event date</label>
				<input type="date" ng-model="post.date">
			</md-input-container>

	    <md-input-container>
	    <label>Number of tickets</label>
	    <md-select ng-model="post.numberOftickets" class="select-withlabel" aria-label="Number of Tickets">
	      <md-option ng-repeat="number in possibleNumber" value="{{ number }}">{{ number }}</md-option>
	    </md-select>
		  </md-input-container>

		   <md-input-container>
				<label>Cost per ticket (£)</label>
				<input type="number" ng-model="post.cost">
				<div ng-messages="projectForm.clientName.$error">
				  <div class="price-notice" ng-message="ng-maxlength">Do not sell tickets above face value</div>
				</div>
			</md-input-container>

			<md-input-container>
				<label>Pick-up location</label>
				<input type="text" ng-model="post.location">
			</md-input-container>

			<md-input-container flex>
				<label>Additional info</label>
				<textarea ng-model="post.extra"></textarea>
			</md-input-container>

		<fieldset  class="standard contact-methods">
			<legend>Contact me via</legend>
			<md-checkbox md-no-ink ng-model="post.contact.call">
        call
      </md-checkbox>
      <md-checkbox md-no-ink ng-model="post.contact.text">
        text
      </md-checkbox>
      <md-checkbox md-no-ink ng-model="post.contact.email">
        email
      </md-checkbox>
    </fieldset>

    	<md-button class="md-raised md-primary button-wide" ng-click="add()">Post</md-button>
	</md-content>

</div>