<div class="container-card md-whiteframe-z2">
		<md-tabs md-selected="selectedTab" md-dynamic-height md-border-bottom class="login-tabs">
      <md-tab label="Admins">
        <md-content class="md-padding">
        
        	<md-input-container flex>
            <label>Search admins</label>
            <input ng-model="search">
          </md-input-container>

          <md-list class="">
						<md-list-item ng-repeat="admin in admins" ng-click="" md-no-ink>
				      {{ admin.name }}
				    </md-list-item>
				  </md-list>

      	</md-content>
    	</md-tab>
    	<md-tab label="Mods">
        <md-content class="md-padding">

        	<md-input-container flex>
            <label>Search Moderators</label>
            <input ng-model="search">
          </md-input-container>

          <md-list class="">
						<md-list-item ng-repeat="mod in mods" ng-click="" md-no-ink>
				      {{ mod.name }}
				    </md-list-item>
				  </md-list>

      	</md-content>
    	</md-tab>
    	<md-tab label="Users">
        <md-content class="md-padding">

        	<md-input-container flex>
            <label>Search Users</label>
            <input ng-model="search">
          </md-input-container>

          <md-list class="">
						<md-list-item ng-repeat="user in users" ng-click="" md-no-ink>
				      {{ user.name }}
				    </md-list-item>
				  </md-list>

      	</md-content>
    	</md-tab>
	</md-tabs>
</div>