
html { 
  height: auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body, .root {
  height: auto;
}

div#rootRoot {
  visibility: hidden;
}

body {
  background-image: url("../images/noise.png");
  background-repeat: repeat;
}

body.sidebar-open {
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  html {
    background-image: url("../images/noise.png");
    background-repeat: repeat;
  }
}

h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-size: 3em;
}

h2 {
  font-weight: normal;
  font-size: 2em;
}

h3 {
  font-weight: normal;
  font-size: 1.3em;
}

h4 { 
font-weight: normal;
}

md-toolbar.toolbar, md-toolbar.mythings-fix, md-toolbar.left-toolbar {
  background-color: #008D8C;
  background-color: #00BCBB;
  background-color: #00796B;
}

a.md-primary {
  background-color: #008D8C;
  background-color: #00BCBB;
  background-color: #00796B !important;
}

.md-primary:not(md-switch):not(.facebook):not(md-checkbox) {
  background-color: #FFC107 !important;
  color: rgba(0,0,0,.87) !important;
}

md-content > md-tabs.login-tabs, .container-card > md-tabs.login-tabs {
  background-color: #B2DFDB;
}

md-toolbar.toolbar {
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  position: fixed;
  width: 100%;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

@media screen and (max-width: 800px) {
  md-toolbar.toolbar {
    transition: transform 200ms cubic-bezier(0.55, 0, .1, 1);
    -webkit-transition: transform 200ms cubic-bezier(0.55, 0, .1, 1);
  }
  md-toolbar.slideDown {
    transform: translateY(0%);
  }
  md-toolbar.slideUp {
    transform: translateY(-100%);
  }
}

div.toolbar-name-container {
  height: 24px;
}

img.toolbar-name {
  height: 24px;
  width: 134px;
}

div.page {
  width: 100%;
}

div.content {
  position: relative;
  overflow: auto;
  padding-top: 64px;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  background-image: url("../images/noise.png");
  background-repeat: repeat;
}

div.container-card {
  position: relative;
  max-width: 500px;
  margin: 4px;
  background-color: white;
}

.flex-column {
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  -webkit-flex-flow: column;
}

.padded-std {
  padding: 12px;
}

.container-tool {
  padding: 10px;
  margin: 5px;
  background-color: white;
}

.to-bottom {
  margin-top: auto;
}

.bottom-padding {
  padding-bottom: 10px;
}

/*prevent focus glow */
post-ticket, div, md-toolbar, post-ticket:focus, div:focus, md-toolbar:focus, *:focus  {
  outline: none;
}

div.splash {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #00796B;
}

div.splash > .splash-logo-container {
  top: 30%;
  margin-top: 150px;
  height: 100px;
  width: 100%;
  opacity: 0;
  animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
  from { 
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

img.splash-logo {
  height: 100px;
  width: 100px;
}


/*----------------------------------------------------------------------------------*/
/*------------------------------------Main Page-------------------------------------*/
/*----------------------------------------------------------------------------------*/

.select-uni {
  
  margin-bottom: 5px;
  width: 100%;
  height: 26px;
}

h4 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 4px;
}

.button-wide {
  width: 94%;
}

md-select-label {
  width: 100%;
}

.signup-email {
  width: 70%;
}

.signup-domain {
  width: 30%;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------------sidenavs--------------------------------------*/
/*----------------------------------------------------------------------------------*/


.md-toolbar-tools > .to-right, .md-icon-button.to-right, .to-right {
  margin-left: auto;
}

.no-margins {
  margin: 0;
}

right-content {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction:column;
  -webkit-flex-direction: column;
}

.mythings-fix {
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
}

.mythings-fill {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

.md-list.personalinfo {
  border-bottom: 1 solid rgba(0, 0, 0, 0.87);
}

.md-button.md-grid-item-content.list-button {
  min-width: 36px;
  border-radius: 50%;
}

md-grid-list.md-secondary {
  top: auto;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

md-grid-list.md-secondary > md-grid-list-item {
  border-radius: 50%;
}

left-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

left-content > md-toolbar { 
  flex: 0 1 auto;
}

left-content > md-content {
  flex: 1 1 auto;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------------login page------------------------------------*/
/*----------------------------------------------------------------------------------*/


md-content .login-signup {
  background-color: transparent !important; 
  padding-top: 0;
}

md-content h3:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; 
}

md-content md-input-container:last-child {
  padding-bottom: 0;
}

md-tab-content.md-no-scroll {
  bottom: 0;
}

md-tabs .md-tab.md-active {
  color: rgba(0,0,0,0.87);
}

md-ink-bar {
  background-color: #FFC107 !important;
}

/*----------------------------------------------------------------------------------*/
/*-----------------------------------confirm page-----------------------------------*/
/*----------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------*/
/*-------------------------------------tools page-----------------------------------*/
/*----------------------------------------------------------------------------------*/

md-icon.large-icon, md-list-item .md-list-item-inner > md-icon.large-icon:first-child {
  height: 48px;
  width: 48px;
}

md-icon.large-icon.title-icon {
  margin-left: 5px;
  margin-right: 5px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------posts page-----------------------------------*/
/*----------------------------------------------------------------------------------*/

div.search-container {
  margin: 4px;
  padding: 4px;
  margin-top: -30px;
  background-color: white;
}

post {
  position: relative;
  z-index: 1;
}

md-card {
  margin: 4px;
  margin-bottom: 0;
}

.search-posts {
  padding-bottom: 10px;
}

.sort-list {
  padding-top: 0;
  padding-bottom: 10px;
}

.add-post {
  position: fixed;
  bottom: 0;
  right: 0;
}

.post-card {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 4px;
}

.post-card-content {
  padding: 0;
}

.card-title, .card-body {
  padding: 6px;
}

.card-title > h4 {
  flex: 1 1 auto;
  margin-bottom: 0;
  margin-top: 4px;
  margin-left: 4px;
}

.card-more {
  flex: 0 1 auto;
}

.card-body p {
  margin: 6px 2px;
}

.post-card-content md-divider {
  border-top-color: #B2DFDB;
}

.post-card .md-button.md-icon-button {
  height: 36px;
  width: 36px;
  line-height: 36px;
  margin: 0;
}

.post-card .md-menu {
  padding: 0;
}

.make-flex {
  display: -webkit-flex;
  display: flex;
}

.card-body .card-date {
  padding-left: 6px;
}

.card-body .card-username {
  color: #555;
  font-size: 0.8em;
  margin-top: 12px;
  margin-bottom: auto;
  text-align: right;
}

.location-user-container, .lift-title {
  flex-wrap: wrap;
}

md-bottom-sheet.post-detail-sheet {
  position: fixed;
  box-shadow: 0 0px 5px 0 rgba(0,0,0,.26);
}
  
md-grid-list.bottomsheet-options {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 325px;
}

md-grid-list.bottomsheet-options .md-button {
    margin: 6px 2px;
  }

/*prevent bottom-sheet backdrop default*/
md-backdrop.md-bottom-sheet-backdrop.md-opaque {
  background-color: rgba(0, 0, 0, 0) !important;
}

div.listview-container {
  margin-bottom: 0;
  
}

div.listview-container.bottom-sheet-open {
  margin-bottom: 180px;
}

md-card {
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

md-card.bottom-sheet-open {
  box-shadow: 0px 8px 10px -5px rgba(0, 150, 136, 0.14), 0px 16px 24px 2px rgba(0, 150, 136, 0.098), 0px 6px 30px 5px rgba(0, 150, 136, 0.084);
}

md-icon.card-lifts-toArrow {
  width: 24px;
  margin-left: auto;
  margin-right: 8px;
}

div > h3:first-child {
  margin-top: 4px;
  margin-bottom: 4px;
}


/*otherwise bottom-sheet items spill onto neow line for very small devices eg iphone 4 */
@media screen and (max-width: 350px) {
  md-grid-list-item > a.md-grid-item-content {
    margin-left: 2px;
    margin-right: 2px;
  }
}


.post-picContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;

}

.post-img {
  height: 70px;
  margin: 4px;
}

div.list-intro {
  margin-top: -5px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #B2DFDB;
  margin-bottom: 4px;
}

md-bottom-sheet.bottom-sheet-addpost {
  max-height: 400px;
}

.add-ticket {
  position: relative;
  max-height: 400px;
  overflow: auto; 
}

.add-post {
  transform: translateY(110%);
  animation: jumpUp 0.25s both cubic-bezier(0.55, 0, 0.1, 1);
}

md-toast.md-bottom {
  background-color: #323232;
  z-index: 9000;
  position: fixed;
}

md-toast.md-bottom span {
  font-size: 1.2em;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------add post page-----------------------------------*/
/*----------------------------------------------------------------------------------*/

p.select-label {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  height: 26px;
}

p.item-price, span.item-price {
  color: #00796B;
}

div .price-notice {
  color: rgba(0,0,0,0.54);
}

md-toolbar.toolbar-addpost {
  z-index: 1;
  box-shadow: none;
  background-color: #E0F2F1;
  color: rgba(0, 0, 0, 0.87);
}

md-toolbar.toolbar-addpost md-icon {
 color: rgba(0, 0, 0, 0.87);
}

md-select.select-withlabel {
  padding-bottom: 4px;
}

fieldset.contact-methods {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

div.expand-details {
  height: 40px;
  text-align: center;
}

md-icon.details-arrow {
  margin-top: 8px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------page load animation--------------------------------*/
/*----------------------------------------------------------------------------------*/

@-webkit-keyframes fadeIn {
  0%    { opacity: 0; }
  50%   { opacity: 0.1; }
  100%  { opacity: 1; }  
 }  

@-webkit-keyframes fadeOut {
  0%    { opacity: 1; }
  50%   { opacity: 0.1; }
  100%  { opacity: 0; }
}

@keyframes fadeIn {
  0%    { opacity: 0; }
  50%   { opacity: 0.1; }
  100%  { opacity: 1; }  
 }  

@keyframes fadeOut {
  0%    { opacity: 1; }
  50%   { opacity: 0.1; }
  100%  { opacity: 0; }
}

@-webkit-keyframes jumpUp {
  from  { -webkit-transform: translateY(110%); }
  to    { -webkit-transform: translateY(0); }
}

@-webkit-keyframes fallDown {
  from  { -webkit-transform: translateY(0); }
  to    { -webkit-transform: translateY(110%); }
}


.ng-enter:not(md-bottom-sheet):not(.page-addpost):not(md-toast) {
  animation: fadeIn 0.3s both ease-in;
  -webkit-animation: fadeIn 0.3s both ease-in;
  z-index: 2;
}

.ng-leave:not(md-bottom-sheet):not(.page-addpost):not(md-toast) {
  animation: fadeOut 0.3s both ease-in;
  -webkit-animation: fadeOut 0.3s both ease-in;
  z-index: 10;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------admin page---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/


.mod-header {
  background-color: #DDDDDD;
  margin: -5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 15px;
}

.mod-header > h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}


/*--------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------welcome page-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.welcome-container {
  width: 100%;
  overflow-y: auto;
  background-color: white;
}

.welcome-1 {
  height: 2000px;
  width: 100%;
  background-image: url("/images/Stock-Dock-House.jpg");
  background-position: center;
  text-align: center;
}

.welcome-container h1, .welcome-1 p, .welcome-container md-icon {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  color: rgba(255,255,255,0.87);
}

.welcome-1 p {
  margin-top: 5px;
}

.welcome-1 > h1 {
  padding-top: 150px;
}

.welcome-1 > button {
  margin-top: 60px;
}

.welcome-1 .find-out {
  text-align: center;
}

.welcome-2 {
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.welcome-2 p {
  position: relative;
  margin: 30px;
  margin-top: 60px;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1 1 auto;
}

.welcome-2 a {
  padding: 20px;
  position: relative;
  flex: 0 1 auto;
}




/*--------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------navbar tings-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.sidebar {
    position: fixed;
    background:white;
    width: 280px;
    height: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.sidebar.left-sidebar {
  left: -286px;
  transition: left 0.35s cubic-bezier(0.55, 0, .1, 1);
  box-shadow: 3px 0 6px rgba(0,0,0,.26);
}

.sidebar.left-sidebar.left-sidebar-open {
  left: 0;
  transition: left 0.35s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.sidebar.right-sidebar {
  right: -286px;
  top: 0;
  transition: right 0.35s cubic-bezier(0.55, 0, .1, 1);
  box-shadow: -3px 0 6px rgba(0,0,0,.26);
}

.sidebar.right-sidebar.right-sidebar-open {
  right: 0;
  transition: right 0.35s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.swipe-area-left {
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0;
  z-index: 8;
  background-color: #555555;
  transition: opacity 0.35s cubic;
}

div.swipe-area-left.left-sidebar-open {
  z-index: 9;
  width: 100%;
  opacity: 0.3;
}

.swipe-area-right {
  position: absolute;
  width: 20px;
  right: 0;
  top: 0;
  height: 100%;
  opacity: 0;
  z-index: 8;
  background-color: #555555;
  transition: opacity 0.35s cubic;
}

div.swipe-area-right.right-sidebar-open {
  z-index: 9;
  width: 100%;
  opacity: 0.3;
}

md-content.left-nav {
  overflow-y: scroll;
}

.hidden {
  display: none;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------profile page-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/


div.profile-heading {
  padding: 15px;
  padding-top:20px;
  padding-bottom: 50px;
}

img.profile-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

div.profile-title {
  padding: 10px;
  padding-top:15px;
}

div.profile-title > p.profile-uni {
  color: rgba(0,0,0,0.62);
}

div.profile-ratings {
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

div.profile-ratings > table {
  width: 100%;
  text-align: center;
}

div.profile-ratings > table td {
  font-size: 0.8em;
  color: rgba(0,0,0,0.62);
  width: 33%;
}

div.profile-ratings > table tr.ratings > td {
  color: #00796B;
  font-size: 1.2em;
}

div.profile-bio {
  margin-top: -30px;
}


/* ------------------------------------------------------------------------------------------------------------------ */


@media screen and (min-width: 800px) {
  html, body, .root {
    height: 100%;
    width: 100%;
  }

  .root {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    overflow: auto;
  }

  div.container-card {
    margin-left: auto;
    margin-right: auto;
  }

  md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed.md-sidenav-right  {
    flex: 0 1 auto;
    z-index: 20;
  }

  div.page {
    flex: 1 1 auto;
    overflow: scroll;
  }

  .container-confirm {
    margin-left: auto;
    margin-right: auto;
  } 

  .add-post {
    right: 305px;
  }

  .post-card {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  md-bottom-sheet.post-detail-sheet {
    width: 400px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
}