
html { 
  visibility: hidden;
  height: auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  height: auto;
}

body.sidebar-open {
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  html, body {
    height: 100%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    overflow: auto;
  }
}

h1 {
  font-weight: normal;
  font-size: 3em;
}

h2 {
  font-weight: normal;
  font-size: 2em;
}

h4 { 
font-weight: normal;
}

md-toolbar {
  background-color: #008D8C;
  background-color: #00BCBB;
  background-color: #009688;
}

a.md-primary {
  background-color: #008D8C;
  background-color: #00BCBB;
  background-color: #009688 !important;
}

.md-primary:not(md-switch):not(.facebook) {
  background-color: #FFC107 !important;
  color: rgba(0,0,0,.87) !important;
}

md-content > md-tabs.login-tabs {
  background-color: #E0F2F1;
}

md-toolbar.toolbar {
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  position: fixed;
  width: 100%;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

@media screen and (max-width: 800px) {
  md-toolbar.toolbar {
    transition: transform 200ms cubic-bezier(0.55, 0, .1, 1);
    -webkit-transition: transform 200ms cubic-bezier(0.55, 0, .1, 1);
  }
  md-toolbar.slideDown {
    transform: translateY(0%);
  }
  md-toolbar.slideUp {
    transform: translateY(-100%);
  }
}

div.page {
  width: 100%;
}

div.content {
  position: relative;
  overflow: auto;
  padding-top: 64px;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  background-image: url("../images/noise.png");
  background-repeat: repeat;
}

.container-ng-view {
  margin: 5px;
}

.container-welcome {
  padding: 4%;
  background-color: white;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  -webkit-flex-flow: column;
}

.container-tool {
  padding: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: white;
}

.to-bottom {
  margin-top: auto;
}

.bottom-padding {
  padding-bottom: 10px;
}

@media screen and (min-width: 800px) {

  md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed.md-sidenav-right  {
    flex: 0 1 auto;
    z-index: 20;
  }

  div.page {
    flex: 1 1 auto;
    max-width: 800px;
    overflow: scroll;
  }

  md-bottom-sheet.

}

/*prevent focus glow */
post-ticket, div, md-toolbar, post-ticket:focus, div:focus, md-toolbar:focus, *:focus  {
  outline: none;
}


/*----------------------------------------------------------------------------------*/
/*------------------------------------Main Page-------------------------------------*/
/*----------------------------------------------------------------------------------*/

.select-uni {
  
  margin-bottom: 5px;
  width: 94%;
  margin-left: 8px;
  margin-right: 8px;
  height: 26px;
}

h4 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 4px;
}

.button-wide {
  width: 94%;
}

md-select-label {
  width: 100%;
}

/*----------------------------------------------------------------------------------*/
/*------------------------------------sidenavs--------------------------------------*/
/*----------------------------------------------------------------------------------*/


.md-toolbar-tools > .to-right, .md-icon-button.to-right, .to-right {
  margin-left: auto;
}

.no-margins {
  margin: 0;
}

right-content {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction:column;
  -webkit-flex-direction: column;
}

.mythings-fix {
  flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
}

.mythings-fill {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

.md-list.personalinfo {
  border-bottom: 1 solid rgba(0, 0, 0, 0.87);
}

.md-button.md-grid-item-content.list-button {
  min-width: 36px;
  border-radius: 50%;
}

md-grid-list.md-secondary {
  top: auto;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

md-grid-list.md-secondary > md-grid-list-item {
  border-radius: 50%;
}


/*----------------------------------------------------------------------------------*/
/*------------------------------------login page------------------------------------*/
/*----------------------------------------------------------------------------------*/


md-content .login-signup {
  background-color: transparent !important; 
  padding-top: 0;
}

md-content h3:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; 
}

md-content md-input-container:last-child {
  padding-bottom: 0;
}

md-tabs.login-tabs {
  margin-bottom: 60px;
}

md-tab-content.md-no-scroll {
  bottom: 0;
}


/*----------------------------------------------------------------------------------*/
/*-------------------------------------tools page-----------------------------------*/
/*----------------------------------------------------------------------------------*/

md-icon.large-icon, md-list-item .md-list-item-inner > md-icon.large-icon:first-child {
  height: 48px;
  width: 48px;
}

md-icon.large-icon.title-icon {
  margin-left: 5px;
  margin-right: 5px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------posts page-----------------------------------*/
/*----------------------------------------------------------------------------------*/

post {
  position: relative;
  z-index: 1;
}

md-card {
  margin: 4px;
}

.search-posts {
  padding-bottom: 10px;
}

.sort-list {
  padding-top: 0;
  padding-bottom: 10px;
}

.add-post {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 800px) {
  .add-post {
    right: 305px;
  }
}

.post-card {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 12px;
}

.post-card-content {
  color: rgba(0,0,0,0.87);
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.post-card-content :last-child {
  margin-bottom: 0;
}

.make-flex {
  display: flex;
  display: -webkit-flex;
}

.card-username {
  color: #555;
  font-size: 0.8em;
  margin-top: 18px;
  margin-bottom: auto;
}

md-bottom-sheet.post-detail-sheet {
  position: fixed;
  box-shadow: 0 0px 5px 0 rgba(0,0,0,.26);
}


@media screen and (min-width: 800px) {
  md-bottom-sheet.post-detail-sheet {
    width: 400px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
  }
}


md-grid-list.contact-methods {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 325px;
}

/*prevent bottom-sheet backdrop default*/
md-backdrop.md-bottom-sheet-backdrop.md-opaque {
  background-color: rgba(0, 0, 0, 0) !important;
}

div.listview-container {
  margin-bottom: 0;
  
}

div.listview-container.bottom-sheet-open {
  margin-bottom: 180px;
}

md-card {
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: box-shadow 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

md-card.bottom-sheet-open {
  box-shadow: 0px 8px 10px -5px rgba(0, 150, 136, 0.14), 0px 16px 24px 2px rgba(0, 150, 136, 0.098), 0px 6px 30px 5px rgba(0, 150, 136, 0.084);
}

md-icon.card-lifts-toArrow {
  width: 24px;
  margin-left: auto;
  margin-right: 8px;
}

div > h3:first-child {
  margin-top: 4px;
  margin-bottom: 4px;
}


/*otherwise bottom-sheet items spill onto neow line for very small devices eg iphone 4 */
@media screen and (max-width: 350px) {
  md-grid-list-item > a.md-grid-item-content {
    margin-left: 2px;
    margin-right: 2px;
  }
}


.post-picContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;

}

.post-img {
  height: 70px;
  margin: 4px;
}

div.list-intro {
  margin: -5px;
  padding: 10px;
  background-color: #E0F2F1;
  margin-bottom: 10px;
}

md-bottom-sheet.bottom-sheet-addpost {
  max-height: 400px;
}

.add-ticket {
  position: relative;
  max-height: 400px;
  overflow: auto; 
}

.add-post {
  transform: translateY(110%);
  animation: jumpUp 0.25s both cubic-bezier(0.55, 0, 0.1, 1);
}

md-toast.md-bottom {
  z-index: 9000;
  position: fixed;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------add post page-----------------------------------*/
/*----------------------------------------------------------------------------------*/

p.select-label {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  height: 26px;
}

p.item-price, span.item-price {
  color: #009688;
}

div .price-notice {
  color: rgba(0,0,0,0.54);
}

md-toolbar.toolbar-addpost {
  z-index: 1;
  box-shadow: none;
  background-color: #E0F2F1;
  color: rgba(0, 0, 0, 0.87);
}

md-toolbar.toolbar-addpost md-icon {
 color: rgba(0, 0, 0, 0.87);
}

md-select.select-withlabel {
  padding-bottom: 4px;
}

fieldset.contact-methods {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

div.expand-details {
  height: 40px;
  text-align: center;
}

md-icon.details-arrow {
  margin-top: 8px;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------page load animation--------------------------------*/
/*----------------------------------------------------------------------------------*/

@-webkit-keyframes fadeIn {
  0%    { opacity: 0; }
  50%   { opacity: 0.1; }
  100%  { opacity: 1; }  
 }  

@-webkit-keyframes fadeOut {
  0%    { opacity: 1; }
  50%   { opacity: 0.1; }
  100%  { opacity: 0; }
}

@keyframes fadeIn {
  0%    { opacity: 0; }
  50%   { opacity: 0.1; }
  100%  { opacity: 1; }  
 }  

@keyframes fadeOut {
  0%    { opacity: 1; }
  50%   { opacity: 0.1; }
  100%  { opacity: 0; }
}

@-webkit-keyframes jumpUp {
  from  { -webkit-transform: translateY(110%); }
  to    { -webkit-transform: translateY(0); }
}

@-webkit-keyframes fallDown {
  from  { -webkit-transform: translateY(0); }
  to    { -webkit-transform: translateY(110%); }
}

@keyframes jumpUp {
  from  { transform: translateY(100%); }
  to    { transform: translateY(0); }
}

@keyframes fallDown {
  from  { transform: translateY(0); }
  to    { transform: translateY(100%); }
}


.ng-enter:not(md-bottom-sheet):not(.add-post):not(.page-addpost):not(md-toast) {
  animation: fadeIn 0.3s both ease-in;
  -webkit-animation: fadeIn 0.3s both ease-in;
  z-index: 2;
}

.ng-leave:not(md-bottom-sheet):not(.add-post):not(.page-addpost):not(md-toast) {
  animation: fadeOut 0.3s both ease-in;
  -webkit-animation: fadeOut 0.3s both ease-in;
  z-index: 10;
}

.ng-enter.page-addpost {
  animation: jumpUp 0.3s both ease-in;
  -webkit-animation: jumpUp 0.3s both ease-in;
}

.ng-leave.page-addpost, .add-post.add-post-hide {
  animation: fallDown 0.3s both ease-in;
  -webkit-animation: fallDown 0.3s both ease-in;
}


/*--------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------admin page---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/


.admin-header {
  background-color: #DDDDDD;
  margin: -5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 15px;
}

.admin-header > h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

div.admin-content.make-flex {
  flex-flow: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 130px;
}

div.flagged-preview {
  flex: 1 1 auto;
}

div.flagged-posts-list-container {
  flex: 1 1 auto;
  overflow-y: scroll;

}

md-list.flagged-posts-list {
  background-color: #FFFFFF;
  left: 5px;
  right: 5px;
  overflow: scroll;
  bottom: 0;
  z-index: 5;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------welcome page-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.welcome-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  overflow-y: scroll;
  background-color: white;
}

.welcome-1 {
  height: 2000px;
  background-image: url("/images/Stock-Dock-House.jpg");
  background-position: center;
}



/*--------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------navbar tings-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.sidebar {
    position: fixed;
    background:white;
    width: 280px;
    height: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.sidebar.left-sidebar {
  left: -286px;
  transition: left 0.35s cubic-bezier(0.55, 0, .1, 1);
  box-shadow: 3px 0 6px rgba(0,0,0,.26);
}

.sidebar.left-sidebar.left-sidebar-open {
  left: 0;
  transition: left 0.35s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.sidebar.right-sidebar {
  right: -286px;
  top: 0;
  transition: right 0.35s cubic-bezier(0.55, 0, .1, 1);
  box-shadow: -3px 0 6px rgba(0,0,0,.26);
}

.sidebar.right-sidebar.right-sidebar-open {
  right: 0;
  transition: right 0.35s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.swipe-area-left {
  position: absolute;
  width: 30px;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0;
  z-index: 8;
}

div.swipe-area-left.left-sidebar-open {
  z-index: 9;
  width: 100%;
}

.swipe-area-right {
  position: absolute;
  width: 30px;
  right: 0;
  top: 0;
  height: 100%;
  opacity: 0;
  z-index: 8;
}

div.swipe-area-right.right-sidebar-open {
  z-index: 9;
  width: 100%;
}


