<md-menu md-position-mode="target-right target" ng-controller="CardCtrl">
  <md-button aria-label="more" class="md-icon-button more" ng-click="openMore($mdOpenMenu, $event)">
    <md-icon md-menu-origin md-svg-icon="more_vert"></md-icon>
  </md-button>
  <md-menu-content width="3">
    <md-menu-item>
      <md-button ng-click="">
          <div layout="row">
            <p flex>Report</p>
            <md-icon md-menu-align-target md-svg-icon="flag"></md-icon>
          </div>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="userOwned">
      <md-button ng-click="">
          <div layout="row">
            <p flex>Edit</p>
            <md-icon md-menu-align-target md-svg-icon="info"></md-icon>
          </div>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="userOwned">
      <md-button ng-click="">
          <div layout="row">
            <p flex>Delete</p>
            <md-icon md-menu-align-target md-svg-icon="info"></md-icon>
          </div>
      </md-button>
    </md-menu-item>
    </md-menu-item>
    <md-menu-item ng-if="userOwned && anonymous">
      <md-button ng-click="">
          <div layout="row">
            <p flex>Unanonymise</p>
            <md-icon md-menu-align-target md-svg-icon="info"></md-icon>
          </div>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>