<md-toolbar ng-controller="AppCtrl" class="md-theme-indigo" ng-click="toggleSidebar('left')">
  <div class="md-toolbar-tools">
    <h1>Menu</h1>
    <md-button ng-if="!wideScreen" class="md-icon-button to-right" aria-label="Settings" >
        <md-icon md-svg-icon="arrow_back"></md-icon>
      </md-button>
  </div>
</md-toolbar>
<md-content layout-padding ng-controller="LeftCtrl">
  <md-list ng-controller="ToolCtrl">
    <md-list-item ng-click="goToPage('')">
      <md-icon md-svg-icon="home"></md-icon>
      <p>Home</p>
    </md-list-item>
    <md-divider></md-divider>

    <md-list-item ng-click="goToPage(option.label)" ng-repeat="option in items">
      <md-icon md-svg-icon="{{ option.icon }}"></md-icon>
        <p>{{ option.name }}</p>
    </md-list-item>

    <md-divider></md-divider>
    <md-list-item ng-click="goToPage('/about')">
      <md-icon md-svg-icon="info"></md-icon>
      <p>About</p>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item ng-click="goToPage('/admin_page')">
      <md-icon md-svg-icon="info"></md-icon>
      <p>Flagged page</p>
    </md-list-item>
  </md-list>
</md-content>