<div class="post-card" ng-controller="CardCtrl">
	 <md-card id="idCard{{ postInfo.id }}" class="md-card">
		 <md-card-content class="post-card-content">
		 	
		 	<post-ticket ng-if="list().label === 'tickets'" info="postInfo"></post-ticket>
		 	<post-lift ng-if="list().label === 'lifts'" info="postInfo"></post-lift>
		 	<post-house ng-if="list().label === 'houses'" info="postInfo"></post-house>
		 	<post-anon ng-if="list().label === 'anons'" info="postInfo"></post-anon>
		 	<post-sale ng-if="list().label === 'sales'" info="postInfo"></post-sale>

			<p ng-if="show">{{ postInfo.extraInfo }}</p>

		</md-card-content>

		<div id="expandDetails" ng-click="toggleDetails()" class="expand-details md-whiteframe-z2">
			<md-icon id="expandDown" class="details-arrow" md-svg-icon="{{ arrow }}"></md-icon>
		</div>
	</md-card>
</div>