<div class="make-flex">
	<h4>
		{{ info.from | capitalise }}
	</h4>
</div>

<md-divider></md-divider>

<div class="make-flex">
	<md-icon class="card-lifts-toArrow" md-svg-icon="arrow_forward"></md-icon>
	<h4>
		{{ info.to | capitalise }}
	</h4>
</div>

<md-divider></md-divider>

<div class="make-flex">
	<p>
		{{ info.leavingDate | date:'dd/MM/yy' }}
		<span ng-if="info.flexibility != 0">+/- {{ info.flexibility }} days</span>
	</p>
	<span class="to-right">
		<p>
			<span ng-if="info.spaces != 1">{{ info.spaces }} x </span>
			<b>{{ info.cost | currency:"£" }}</b>
		</p>
	</span>
</div>

<p class="to-right card-username">{{ info.user }}</p>
