<div class="post-card" ng-controller="CardCtrl">
	<md-card id="idCard{{ postInfo.id }}" class="md-card">
		<md-card-content class="post-card-content">

		<div class="card-title make-flex">
			<h4 ng-if="postInfo.type !== 'lift'">
				{{ postInfo.title  | capitalise }}
			</h4>

			<h4 ng-if="postInfo.type === 'lift'">{{ postInfo.from | capitalise }}</h4>
			<div ng-if="postInfo.type === 'lift'"class="make-flex">
				<md-icon class="card-lifts-toArrow" md-svg-icon="arrow_forward"></md-icon>
				<h4>{{ postInfo.to | capitalise }}</h4>
			</div>
			<more-button class="more-button" id="more{{ postInfo.id }}"></more-button>
		</div>

		<md-divider></md-divider>

		 	<post-gen ng-if="postInfo.type === 'general'" info="postInfo"></post-gen>
		 	<post-ticket ng-if="postInfo.type === 'ticket'" info="postInfo"></post-ticket>
		 	<post-lift ng-if="postInfo.type === 'lift'" info="postInfo"></post-lift>
		 	<post-house ng-if="postInfo.type === 'house'" info="postInfo"></post-house>
		 	<post-sale ng-if="postInfo.type === 'sale'" info="postInfo"></post-sale>

			<p id="extraInfo" ng-if="show" ng-click="toggleDetails()">{{ postInfo.extraInfo }}</p>

		</md-card-content>

		<div ng-if="postInfo.type != 'general'" id="expandDetails" ng-click="toggleDetails()" class="expand-details">
			<md-divider></md-divider>
			<md-icon id="expandDown" class="details-arrow" md-svg-icon="{{ arrow }}"></md-icon>
		</div>
	</md-card>
</div>